.reveal section img{
         border: none;
         box-shadow: none;
       }
#front-end-runtime-languages {
                text-align: center;
              }
.reveal pre code {
  max-height: 600px;
  width: 100%;
}
.largercode pre {
  width: 100%;
}
#left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}
.reveal .left {
  left:-8.33%;
  text-align: left;
  float: left;
  width:50%;
  z-index:-10;
}
#right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: right;
  z-index:-10;
  width:50%;
}
.reveal .right {
  left:31.25%;
  top: 75px;
  float: right;
  text-align: left;
  z-index:-10;
  width:50%;
}

.two-floating-elements > ul ~ p, .two-floating-elements > p ~ ul {
  max-width: 50%;
  float: left;
  font-size: 0.7em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.two-floating-elements > p ~ ul {
  margin-left: 0;
}
